@font-face
{
    font-family: 'Fira Code';
    src: url("../fonts/firacode.otf");
}

html,body {
    margin: 0;
    padding: 0;
    background-color: #fdf6e3;
    color: #657b83;
}

span {
    display: inline-block;
}

* {
    font-family: 'Fira Code';
    text-rendering: optimizeLegibility;
}

#container {
    position: absolute;
    padding: 0 20px 20px;
    top: 35%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 60%;
}

#header {
    -webkit-box-shadow: 1px 1px 20px 0px #000;
    -moz-box-shadow: 1px 1px 20px 0px #000;
    box-shadow: 1px 1px 20px 0px #000;
    border: 1px solid #586e75;
    background-color: #eee8d5;
    margin: 4px;
    padding: 8px;
}

#powerline-container{
    
}

#powerline-hostname {
    height: 24px;
    display: inline-block;
    background-color: #b58900;
}

#powerline-hostname-end {
    height: 24px;
    font-size: 17px;
    color: #b58900;
    background-color: #268bd2;
}

#powerline-section {
    height: 24px;
    display: inline-block;
    background-color: #268bd2;
}

#powerline-section-end {
    height: 24px;
    display: inline-block;
    color: #268bd2;
    background-color: #eee8d5;
}
